@import "tailwindcss";

:root {
  --primary-color: #3490dc;  /* Bleu */
  --secondary-color: #ff6347;  /* Tomate */
  --accent-color: #f9a825;  /* Jaune */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body{
  font-family: 'Becasime Antique', sans-serif;
}

